<h3><%= selectedCoin.title %></h3>
<p><%= selectedCoin.explanation %></p>

<table class="table">
  <thead>
    <tr>
      <th>Token</th>
      <th>My balance</th>
      <th>Total supply</th>
      <th>Trade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="<%= yesLink %>" target="_blank">Yes</a></td>
      <td><%= bundle.utility.weiToEth(balanceYes) %> YES</td>
      <td><%= bundle.utility.weiToEth(supplyYes) %> YES</td>
      <td>
        <% if (etherDeltaYes) { %>
          <a href="<%= etherDeltaYes %>" target="_blank"><%= selectedCoin.name+'Y' %></a>
        <% } %>
      </td>
    </tr>
    <tr>
      <td><a href="<%= noLink %>" target="_blank">No</a></td>
      <td><%= bundle.utility.weiToEth(balanceNo) %> NO</td>
      <td><%= bundle.utility.weiToEth(supplyNo) %> NO</td>
      <td>
        <% if (etherDeltaNo) { %>
          <a href="<%= etherDeltaNo %>" target="_blank"><%= selectedCoin.name+'N' %></a>
        <% } %>
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Reality Keys</th>
      <th>Smart contract</th>
      <th>Balance</th>
      <th>Outcome</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="<%= realityUrl.replace('/api/v1','') %>" target="_blank">Description</a> (<a href="<%= realityUrl %>" target="_blank">API</a>)</td>
      <td><a href="<%= contractLink %>" target="_blank">Create/redeem</a></td>
      <td><%= bundle.utility.weiToEth(supplyOutcome) %> ETH</td>
      <td>
        <% if (resolved) { %>
          <% if (outcome==0) { %>
            No
          <% } else if (outcome==1) { %>
            Yes
          <% } %>
        <% } else { %>
          Unresolved
        <% } %>
      </td>
    </tr>
  </tbody>
</table>
